<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST</title>
    <style>
        body{
            background:skyblue;
        }
        h1{
            color: yellow;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>page 1..</h1>
    <h1>User : <%=keydata.user%></h1>
    <h1>Job : <%=keydata.job%></h1>
    <% include nav.ejs %>
</body>
</html>